<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
    <div th:replace="~{fragments/fragment-head :: head}"></div>
    <body>
        <!-- Navigation-->
        <div th:replace="~{fragments/fragment-nav :: nav}"></div>

        <!-- Header-->
        <div th:replace="~{fragments/fragment-header :: header}"></div>

        <!-- Section-->
        <div th:replace="~{fragments/fragment-section :: section(playlists = ${playlists})}"></div>

        <!-- Footer-->
        <div th:replace="~{fragments/fragment-footer :: footer}"></div>
    </body>
</html>
