<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
    <div th:replace="~{fragments/fragment-head :: head}"></div>
    <body>
        <!-- Navigation-->
        <div th:replace="~{fragments/fragment-nav :: nav}"></div>

        <!-- Header-->
        <div th:replace="~{fragments/fragment-header :: header}"></div>

        <!-- Login Section -->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5 d-flex justify-content-center">
                <div class="w-50">
                    <form>
                        <div class="mb-3">
                            <label for="username" class="form-label">사용자 이름</label>
                            <input type="text" class="form-control" id="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">비밀번호</label>
                            <input type="password" class="form-control" id="password" required>
                        </div>
                        <button type="submit" class="btn btn-outline-dark w-100 mt-2">로그인</button>
                        <button type="button" class="btn btn-outline-secondary w-100 mt-2"><i class="bi bi-github"></i> GitHub 로그인</button>
                    </form>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <div th:replace="~{fragments/fragment-footer :: footer}"></div>
    </body>
</html>
